{{ define "main" }}

<!-- Hero -->
{{ with .Params.hero }}{{ if .enable }}
<div id="hero" class="relative overflow-hidden pt-8 lg:pt-16">
  <div class="mx-auto max-w-7xl lg:px-8">
    <div class="lg:flex lg:gap-8">
      <div class="flex w-full shrink-0 flex-col items-center justify-center lg:w-[420px] lg:items-start">
        <h1 class="px-4 pb-4 text-center text-5xl font-extrabold tracking-tight text-white sm:text-7xl lg:px-0 ltr:lg:text-left rtl:lg:text-right">{{ .title }}</h1>
        <p class="mt-3 px-8 text-center text-xl font-normal text-[#8186bc] sm:mt-5 sm:text-2xl lg:px-0 lg:text-2xl ltr:lg:text-left rtl:lg:text-right">{{ .text }}</p>
        {{ with .button }} {{ if .enable }}
        <div class="my-10 text-center sm:mt-16 ltr:lg:text-left rtl:lg:text-right"><a href="{{ .button_link }}" class="items-center justify-center gap-2.5 rounded-full bg-gradient-to-r from-[#7672b4] to-[#6792cd] px-8 py-4 text-center text-base font-semibold leading-tight text-white drop-shadow-xl hover:opacity-90 ltr:font-inter rtl:font-arabic sm:px-16 sm:py-6">{{ .button }}</a></div>
        {{ end }}{{ end }}
      </div>
      <div class="flex shrink grow flex-col justify-center">
        <img class="w-full px-8 lg:w-auto lg:max-w-3xl lg:px-0 xl:max-w-5xl" src="{{ .image }}" alt="{{ .title }}" />
      </div>
    </div>
  </div>
</div>
{{ end }} {{ end }}

<!-- Trusted by -->
{{ with .Params.trusted_by }} {{ if .enable }}
<div class="mx-auto max-w-7xl py-8 px-6 lg:px-8 lg:pt-0 lg:pb-8">
  <p class="mb-6 text-center text-xl font-semibold text-white lg:text-left lg:text-2xl">{{ .title }}</p>
  <div class="flex flex-wrap items-center justify-center gap-12 lg:justify-start">
    {{ range .logos }}
    <img class="h-8 lg:h-12" src="{{ . }}" alt="Logo" />
    {{ end }}
  </div>
</div>

{{ end }} {{ end }}

<!-- Services -->
{{ with .Params.services }} {{ if .enable }}
<div id="services" class="relative mx-6 px-6 py-12 lg:px-8 lg:py-24">
  <div class="relative mx-auto max-w-[1200px]">
    <h2 class="mb-6 text-6xl font-extrabold text-[#282854] lg:mb-16 lg:text-9xl">{{ .heading }}</h2>
    <div class="text-center">
      <h2 class="pb-6 text-3xl font-semibold text-white sm:text-[42px] lg:pb-16">{{ .title }}</h2>
    </div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        {{ range .service }}
        <div class="swiper-slide flex flex-col overflow-hidden rounded-3xl bg-[#282854] p-8 py-12 shadow-lg">
          <div class="flex flex-shrink-0 justify-center lg:justify-start">
            <img class="mb-6 h-28" src="{{ .image }}" alt="{{ .title }}" />
          </div>
          <div class="flex flex-1 flex-col justify-start gap-4">
            <p class="text-center text-2xl font-bold text-white sm:text-3xl lg:mt-6 ltr:lg:text-left rtl:lg:text-right xl:text-3xl">{{ .title }}</p>
            <p class="text-center text-xl font-light text-[#8186bc] sm:mt-5 sm:text-xl lg:text-lg ltr:lg:text-left rtl:lg:text-right xl:text-2xl">{{ .text }}</p>
            {{ with .learn_more }} {{ if .enable }}
            <a href="{{ .link }}" class="mt-4 text-center text-lg font-light text-white ltr:lg:text-left rtl:lg:text-right">{{ .link_text }}</a>
            {{ end }} {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-button-next mt-12 text-[#6d6e96] lg:-mr-12 lg:mt-32"></div>
    <div class="swiper-button-prev mt-12 text-[#6d6e96] lg:-ml-12 lg:mt-32"></div>
  </div>
</div>
{{ end }} {{ end }}

<!-- Domains -->
{{ with .Params.domains }} {{ if .enable }}
<div id="domains" class="relative px-6 py-12 lg:px-8 lg:py-24">
  <div class="relative mx-auto max-w-[1200px]">
    <h2 class="text-6xl font-extrabold text-[#282854] lg:mb-16 lg:text-9xl">{{ .heading }}</h2>
    {{ range .domain }}
    <div class="group my-12 mx-auto max-w-7xl lg:my-0 lg:px-8">
      <div class="lg:flex lg:gap-8 group-even:lg:justify-end">
        <div class="flex shrink grow flex-col justify-center group-even:order-first">
          <img class="max-h-[800px] w-full px-8 lg:w-auto lg:max-w-3xl lg:px-0 xl:max-w-5xl" src="{{ .image }}" alt="{{ .title }}" />
        </div>
        <div class="flex w-full shrink-0 flex-col items-center justify-center group-odd:order-first lg:w-[420px] lg:items-start">
          <h3 class="mb-4 text-center text-3xl font-semibold leading-tight text-white sm:mb-0 sm:text-[42px] ltr:lg:text-left rtl:lg:text-right">{{ .title }}</h3>
          <p class="mt-2 mb-4 text-center text-lg font-light text-[#8186bc] sm:mb-0 sm:text-2xl ltr:lg:text-left rtl:lg:text-right">{{ .text }}</p>
          {{ with .learn_more }} {{ if .enable }}
          <a href="{{ .link }}" class="mt-4 text-center text-lg font-light text-white ltr:lg:text-left rtl:lg:text-right">{{ .link_text }}</a>
          {{ end }} {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }} {{ end }}

<!-- Products -->
{{ with .Params.products }} {{ if .enable }}
<div id="products" class="relative mx-6 px-6 py-12 lg:px-8 lg:py-24">
  <div class="relative mx-auto max-w-[1200px]">
    <h2 class="mb-6 text-6xl font-extrabold text-[#282854] lg:mb-16 lg:text-9xl">{{ .heading }}</h2>
    <div class="text-center">
      <h2 class="pb-6 text-3xl font-semibold text-white sm:text-[42px] lg:pb-16">{{ .title }}</h2>
    </div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        {{ range .product }}
        <div class="swiper-slide flex flex-col overflow-hidden rounded-3xl bg-[#141437] p-8 py-12 shadow-lg">
          <div class="flex flex-shrink-0 justify-center lg:justify-start">
            <img class="mb-6 h-28" src="{{ .image }}" alt="{{ .title }}" />
          </div>
          <div class="flex flex-1 flex-col justify-start gap-4">
            <p class="text-center text-2xl font-bold text-white sm:text-3xl lg:mt-6 ltr:lg:text-left rtl:lg:text-right xl:text-3xl">{{ .title }}</p>
            <p class="text-center text-xl font-light text-[#8186bc] sm:mt-5 sm:text-xl lg:text-lg ltr:lg:text-left rtl:lg:text-right xl:text-2xl">{{ .text }}</p>
            {{ with .learn_more }} {{ if .enable }}
            <a href="{{ .link }}" class="mt-4 text-center text-lg font-light text-white ltr:lg:text-left rtl:lg:text-right">{{ .link_text }}</a>
            {{ end }} {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-button-next mt-12 text-[#6d6e96] lg:-mr-12 lg:mt-32"></div>
    <div class="swiper-button-prev mt-12 text-[#6d6e96] lg:-ml-12 lg:mt-32"></div>
  </div>
</div>
{{ end }} {{ end }}

<!-- About -->
{{ with .Params.about }}{{ if .enable }}
<div id="about" class="relative px-6 py-12 lg:px-8 lg:py-24">
  <div class="mx-auto max-w-7xl lg:px-8">
    <h2 class="mb-6 text-6xl font-extrabold text-[#282854] lg:mb-16 lg:text-9xl">{{ .heading }}</h2>
    <div class="lg:flex lg:justify-end lg:gap-8">
      <div class="flex w-full shrink-0 flex-col items-center justify-center lg:max-w-lg lg:items-start">
        <h1 class="px-4 pb-4 text-center text-3xl font-semibold tracking-tight text-white sm:text-[42px] lg:px-0 lg:text-5xl ltr:lg:text-left rtl:lg:text-right">{{ .title }}</h1>
        <div class="flex shrink grow flex-col justify-center py-8 lg:hidden">
          <img class="w-full px-8 lg:w-auto lg:max-w-3xl lg:px-0 xl:max-w-5xl" src="{{ .image }}" alt="{{ .title }}" />
        </div>
        <p class="mt-3 px-8 text-center text-xl font-normal text-[#8186bc] sm:mt-5 sm:text-2xl lg:px-0 lg:text-2xl ltr:lg:text-left rtl:lg:text-right">{{ .text }}</p>
        {{ with .button }} {{ if .enable }}
        <div class="my-10 text-center sm:mt-16 ltr:lg:text-left rtl:lg:text-right">
          <a href="{{ .link }}" class="items-center justify-center gap-2.5 rounded-full bg-gradient-to-r from-[#7672b4] to-[#6792cd] px-8 py-4 text-center text-base font-semibold leading-tight text-white drop-shadow-xl hover:opacity-90 ltr:font-inter rtl:font-arabic sm:px-16 sm:py-6">{{ .link_text }}</a>
        </div>
        {{ end }} {{ end }}
      </div>
      <div class="order-first hidden shrink grow flex-col justify-center lg:flex">
        <img class="w-full px-8 lg:w-auto lg:max-w-3xl lg:px-0 xl:max-w-5xl" src="{{ .image }}" alt="{{ .title }}" />
      </div>
    </div>
  </div>
</div>
{{ end }} {{ end }}

<!-- Three recent blog posts -->
{{ with .Params.blog_recent }} {{ if .enable }}
<div id="products" class="relative px-6 py-12 lg:px-8 lg:py-24">
  <div class="relative mx-auto max-w-[1200px]">
    <div class="text-center">
      <h2 class="text-3xl font-semibold text-white sm:text-[42px] lg:pb-6">{{ .title }}</h2>
    </div>
    <div class="mx-auto mt-8 grid max-w-3xl gap-8 lg:mt-12 lg:max-w-none lg:grid-cols-3">
      {{- range ( where site.RegularPages "Section" "blog" | first 3 ) }}
      <div class="flex flex-col overflow-hidden rounded-3xl bg-[#141437] p-8 py-12 shadow-lg">
        <div class="flex flex-1 flex-col justify-between">
          <p class="text-base text-white">{{ .Date.Format "02 January, 2006" }}</p>
          <p class="text-center text-2xl font-bold text-white sm:text-3xl lg:mt-6 ltr:lg:text-left rtl:lg:text-right xl:text-3xl"><a class="hover:opacity-80" href="{{ .Permalink }}">{{ .Title }}</a></p>
          <p class="text-center text-xl font-light text-[#8186bc] sm:mt-5 sm:text-xl lg:text-lg ltr:lg:text-left rtl:lg:text-right xl:text-2xl">{{ .Summary | truncate 200 }}</p>
          <a href="{{ .Permalink }}" class="mt-4 text-center text-lg font-light text-white hover:opacity-80 ltr:lg:text-left rtl:lg:text-right">Read More</a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }} {{ end }}

<!-- Hero fixed button -->
{{ with .Params.hero }}{{ if .enable }} {{ with .button }} {{ if .enable }}
<div id="fixed-button" class="fixed bottom-2 right-5 z-50 my-10 text-center opacity-0 sm:mt-16 md:bottom-8 md:right-10 ltr:lg:text-left rtl:lg:text-right"><a href="{{ .button_link }}" class="items-center justify-center gap-2.5 rounded-full bg-gradient-to-r from-[#7672b4] to-[#6792cd] px-8 py-4 text-center text-base font-semibold leading-tight text-white drop-shadow-xl transition duration-500 ease-in-out hover:from-[#6a65ad] hover:to-[#5484c7] ltr:font-inter rtl:font-arabic sm:px-16 sm:py-6">{{ .button }}</a></div>
{{ end }}{{ end }} {{ end }} {{ end }}

<!-- End -->
{{ end }}
