<footer class="mt-8 bg-transparent lg:mt-16">
  <div class="mx-auto flex max-w-[1200px] flex-col justify-center overflow-hidden border-[#353559] py-4 px-6 sm:py-12 md:flex-row md:justify-between lg:border-t-2 lg:px-0">
    <div class="mt-0 flex flex-col items-center justify-center md:items-start">
      <a href="/">
        <img src="{{ .Site.Params.logo }}" class="mb-4 h-16 w-auto sm:h-20 md:-ml-1 lg:mb-2" alt="{{ .Site.Title }}" />
      </a>
      <div>
        <nav class="flex flex-wrap items-center justify-center gap-4 md:gap-8" aria-label="Footer">
          {{ range .Site.Menus.main }}
          <a href="{{ .URL | relLangURL}}" class="text-sm leading-6 text-white hover:opacity-80 md:text-base">{{ .Name }}</a>
          {{ end }}
        </nav>
      </div>
    </div>

    <div class="flex flex-col justify-end">
      <div class="mt-6 flex justify-center gap-8 md:justify-end">
        {{ range .Site.Params.social }}
        <a href="{{ .link }}" class="text-white hover:opacity-80">
          <span class="sr-only">{{ .name }}</span>
          <i class="{{ .icon }}"></i>
        </a>
        {{ end }}
      </div>
      <p class="mt-6 mb-8 text-center text-sm leading-5 text-white md:mb-0 md:text-base">&copy; Semla AI {{ dateFormat "2006" now }}. {{ T "allRightsReserved" }}</p>
    </div>
  </div>
</footer>
