<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" /> -->
  <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
  <title>{{- if .IsHome }}{{ .Site.Title }}{{- else }}{{ .Site.Title }} - {{ .Title }}{{- end }}</title>
  {{ $style := resources.Get "style.css" }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
  <script defer src="/fontawesome/js/brands.js"></script>
  <script defer src="/fontawesome/js/solid.js"></script>
  <script defer src="/fontawesome/js/regular.js"></script>
  <script defer src="/fontawesome/js/fontawesome.js"></script>
</head>
