<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{- if .IsHome }}{{ .Site.Title }}{{- else }}{{ .Site.Title }} - {{ .Title }}{{- end }}</title>
  {{ $style := resources.Get "style.css" }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
  <script defer src="/fontawesome/js/brands.js"></script>
  <script defer src="/fontawesome/js/solid.js"></script>
  <script defer src="/fontawesome/js/fontawesome.js"></script>
</head>
